:root {
    /* Default/Light Colors */
    --accent-color:  #2390cf;
    --special-color: #eeb241;
    --ceiling-color: #ffffff;
    --high-color:    #fffeff;
    --medium-color:  #e1e7ef;
    --low-color:     #636262;
    --floor-color:   #000000;

    /* Default/Light Shadows */
    --aside-shadow:       0.1em 0.1em 0.1em rgba(0,0,0,0.9);
    --aside-glow:         0 0 0.1em var(--high-color);
    --action-box-shadow:  0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    --action-text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,1);
    --action-box-glow:    0 0 0.2em var(--special-color);
    --action-text-glow:   0 0 0.1em var(--high-color);

    /* Dark Mode Colors */
    --dark-accent-color:  #eeb241;
    --dark-special-color: #2390cf;
    --dark-ceiling-color: #ffffff;
    --dark-high-color:    #333333;
    --dark-medium-color:  #222222;
    --dark-low-color:     #cccccc;
    --dark-floor-color:   #000000;

    /* Dark Mode Shadows */
    --dark-aside-shadow:       0.05em 0.05em 0.2em rgba(0,0,0,0.3);
    --dark-aside-glow:         0 0 0.1em var(--dark-high-color);
    --dark-action-box-shadow:  0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    --dark-action-text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.5);
    --dark-action-box-glow:    0 0 0.5em var(--dark-special-color);
    --dark-action-text-glow:   0 0 0.2em var(--dark-high-color);

    /* Flags changed in Media Queries */
    --dark-mode: 0;
    --mobile-view: 0;

    /* Transitions */
    --base-transition: none;
    --fast-transition: none;
    --base-enabled:    all 0.3s  ease-out;
    --fast-enabled:    all 0.15s ease-out;

    /* Browser Controls */
    color-scheme: light;
}

*{
    box-sizing: border-box;
    cursor: default;
}

/* Base Elements */

html{
    margin: 0;
    padding: 0;
}

body{
    align-items: stretch;
    background-color: var(--medium-color);
    color: var(--low-color);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
    text-shadow: 0.05em 0.05em 0.2em rgba(0,0,0,0.4);
    transition: var(--base-transition);
    padding: 0;
}

a, a *, button, button *{
    cursor: pointer;
    transition: var(--fast-transition);
}

a:link, a:visited{
    color: var(--accent-color);
    text-decoration: none;
    text-shadow: 0.05em 0.05em 0.1em var(--floor-color);
}

a:hover, a:focus, a:active{
    color: var(--special-color);
    text-decoration: underline;
}

button{
    cursor: pointer;
}

svg{
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.5));
    height: 1.5em;
    width: 1.5em;
    transition: var(--fast-transition);
}

svg path{
    fill: var(--accent-color);
    transition: var(--base-transition);
}

/* Navigation */

aside{
    background-color: var(--accent-color);
    box-shadow: 0.2em 0 0.2em rgba(0,0,0,0.3);
    color: var(--high-color);
    text-shadow: var(--aside-shadow);
    transition: var(--base-transition);
    width: 15em;
}

aside h1{
    color: var(--high-color);
    cursor: pointer;
    position: sticky;
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
    top: 0;
    text-shadow: var(--aside-shadow);
    transition: var(--fast-transition);
    white-space: nowrap;
}

aside h1 *{
    cursor: pointer;
}

aside h1 svg{
    filter: drop-shadow(var(--aside-shadow));
    transition: var(--fast-transition);
    vertical-align: bottom;
}

aside h1:hover{
    color: var(--high-color)
    text-shadow: var(--aside-glow);
}

aside h1:hover svg{
    filter: drop-shadow(var(--aside-glow));
}

aside h1:hover svg path{
    fill: var(--high-color);
}

aside nov{
    position: sticky;
    top: 4em;
}

aside nov a{
    display: block;
    padding: 0 0 0.5em 2em;
    text-shadow: var(--aside-shadow);
    transition: var(--fast-transition);
}

aside nov a:link, aside nov a:visited{
    color: var(--high-color);
    text-decoration: none;
    text-shadow: var(--aside-shadow);
}

aside nav a:hover, aside nav a:focus, aside nav a:active {
    color: var(--high-color);
    text-decoration: none;
    text-shadow: var(--aside-glow);
    transform: scale(1.1);
}

aside nav a:hover svg, aside nav a:focus svg, aside nav a:active svg {
    filter: drop-shadow(var(--aside-glow));
}

aside nav a:hover svg path, aside nav a:focus svg path, aside nav a:active svg path {
    fill: var(--high-color);
}

aside svg {
    filter: drop-shadow(var(--aside-shadow));
    vertical-align: top;
}

aside nav svg {
    margin-right: 1em;
}

aside svg path {
    fill: var(--high-color);
}

aside nav a[title='Settings'] {
    margin-top: 2em;
}

aside nav a span {
    transition: var(--fast-transition);
}

aside.collapsed {
    width: 4em;
}

aside.collapsed h1 {
    padding: 0.5em 0;
    text-align: center;
}

aside.collapsed nav a {
    padding: 0 0 2em;
    text-align: center;
}

aside.collapsed nav svg {
    margin: 0 auto;
}

aside.collapsed span {
    display: none;
}

/* Main */

main{
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
}

main a svg{
    transition: var(--base-transition);
}

main a:hover svg, main a:focus svg, main a:active svg{
    transform: rotate(360deg) scale(1.5);
    filter: drop-shadow(0 0 0.3em var(--special-color));
}

main a:hover svg path, main a:focus svg path, main a:active svg path{
    fill: var(--special-color);
}

/* Page Header */

header{
    background-color: var(--high-color);
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
    padding-bottom: 0.5em;
    position: sticky;
    top: -5.8em;
    transition: var(--base-transition);
    z-index: 2;
}

header > div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header > div:last-child{
    align-items: flex-end;
}

/* Search Form */

header form{
    align-items: flex-start;
    background-color: var(--medium-color);
    border-radius: 1.5em;
    box-shadow: inset 0.2em 0.2em rgba(0,0,0,0.3);
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 1.5em 0 1.5em 1.5em;
    overflow: hidden;
    padding: 0 0.5em;
    transition: var(--base-transition);
}

header form label{
    display: none;
}

header form button{
    background-color: transparent;
    border: none;
    border-radius: 1.25em;
    height: 3em;
    margin: 0.1em 0 0;
}

header form input{
    background-color: var(--medium-color);
    border: none;
    border-radius: 1.25em;
    color: var(--accent-color);
    cursor: text;
    flex: 1;
    font-size: 1em;
    height: 2em;
    margin: 0.3em 0 0;
    transition: var(--base-transition);
}

header form *:focus{
    outline: 1px dashed var(--special-color);
}